*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(35, 3, 39);
}

/* NAVBAR */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:70px;
    background-color:rgb(58, 9, 58);
    color:bisque ;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin:0 20px;
}

nav ul li a{
    text-decoration: none;
    color: whitesmoke;
}

nav ul li a:hover{
    color: #3d3112;
}
#intro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin:40px 20px;
}

.leftsection{
    color: #e8e3e3;
    width: 100%;
    font-size: 40px;
    text-align: center;
}

.name{
    color: rgb(247, 41, 113);
    font-size: 60px;
    font-family: cursive;
}

.rightsection img{
    width:250px;
    margin:20px auto;
    display:block;
    border-radius:50%;
    border:4px solid rgb(137, 14, 104);
    box-shadow: 0 0 15px rgba(231, 9, 112, 0.6);
}
h2{
    text-align: center;
    color:rgb(96, 87, 40);
    font-size: 50px;
}
.card-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    background-color: rgba(232, 18, 157, 0.742);
    width: 200px;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px rgba(153, 48, 111, 0.6);
    transition: 0.3s;
}

.card img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.card p{
    color: white;
    margin-top: 10px;
}

.card:hover{
    transform: scale(1.05);
}
#contact{
    text-align: center;
    padding:40px;
}

#contact form{
    width: 90%;
    margin: 30px auto;
    background-color: rgb(137, 68, 146);
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 20px;
    border: 3px solid rgb(97, 5, 84);
}

form input, form textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}
.social a{
    color: rgb(210, 81, 81);
    font-size: 25px;
    margin: 0 10px;
    transition: 0.3s;
}

.social a:hover{
    color: rgb(204, 183, 66);
    transform: translateY(-5px);
}
#skills{
    padding: 40px;
}
.infol{
    color: rgb(207, 186, 204);
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(112, 38, 79, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infol ul{
    list-style: none;
    width: 100%;
}

.infol li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-size: 16px;
}

.infol a{
    background: #e0a36d;
    padding: 6px 12px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}
.events{
    width: 90%;
    margin: 30px auto;
    padding: 20px;
    background-color: rgb(47, 5, 60);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(93, 53, 69, 0.6);
}

.events img{
    width: 100%;
    border-radius: 15px;
}
.desc{
    margin-top: 20px;
    text-align: center;
    color:rgb(217, 206, 216);
}
.footer{
    background: #2b0033;
    color: #f5e6ff;
    text-align: center;
    padding: 30px;
    margin-top: 40px;
}

.footer h3{
    color: gold;
}
@media (max-width: 768px){

    nav{
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    nav ul{
        flex-direction: column;
        gap: 10px;
    }

    h2{
        font-size: 35px;
    }

    .name{
        font-size: 40px;
    }

    .leftsection{
        font-size: 25px;
    }
}
