*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color:rgb(35, 3, 39);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:70px;
    background-color:rgb(58, 9, 58);
    color:bisque ;
}
nav ul{
    display: flex;
justify-content: center;
color: whitesmoke;}
nav ul li{
    list-style: none;
    margin:0 23px;
}
nav ul li a{
    text-decoration: none;
    color: whitesmoke;
}
nav ul li a:hover{
    font-size: 15px;
    color: #3d3112;
}
hr{
    border: 0;
    height: 1px;
    background-color:rgb(138, 63, 138);
    margin: 5px 200px;
}
.left{
    font-size: 30px;
}
#intro{
    display: flex;
justify-content: space-around;
margin:60px 0;
align-items: center;
}
.intro >div{
    width:30%;
}
.leftsection{
    color: #e8e3e3;
    width:30%;
    font-size: 60px;
   margin-left:90px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.leftsection div{
    font-size: 60px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
.rightsection img{
width:500px;
margin:50px 0;
border-radius:50%;
margin-left:20px;
border:4px solid rgb(137, 14, 104);
box-shadow: 0 0 15px rgba(231, 9, 112, 0.6);
}
.name{
    color: rgb(247, 41, 113);
    font-size: 80px;
    font-family: cursive;
}
#about{
    height:1150px;
}
.abt{
    height:80%;
     padding: 0;
     margin-top: 70px;}
.interest{
        height:80%;
        padding: 0;
        margin-top: 120px;
        margin-left: 190px;
     }
.card-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    width:800px;
    margin:auto;
    
}
.card{
    background-color: rgba(232, 18, 157, 0.742); /* your brown */
    width: 210px;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px rgba(153, 48, 111, 0.6);
     transition: transform 0.3s ease;
}

.card img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}
.card p{
    color: white;
    margin-top: 10px;
    font-weight: bold;
}
.card:hover{
    transform: scale(1.05);
}

 H2{
     text-align: center;
     color:rgb(96, 87, 40);
     font-size: 70px;
     font-family:poppins;
    }
#contact{
    text-align: center;
    padding:40px;
}
#contact form{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height:600px;width:50%;background-color: rgb(137, 68, 146);
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin: 70px 320px;
    font-size: 20px;
    padding: 55px;
    border-radius: 30px;
    border: 3px solid  rgb(97, 5, 84);
    text-align: left;
}

form input, form textarea{
    width: 90%;
    padding: 10px;
    margin: 10px;
    border:1px solid rgb(236, 152, 242);
    border-radius: 8px;
}
form button{
    background: rgb(233, 173, 127);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-family: cursive;
}
.address{
    color: rgb(248, 161, 235);
    text-align: justify;
    width: 30%;
    height: 140px;
    margin-left: 690px;
}
.social a{
    color: rgb(210, 81, 81);
    font-size: 30px;
    margin: 0 10px;
    transition: transform 0.5s ;
}
.social a:hover{
    color: rgb(204, 183, 66);
    transform:translateY(-5px) ;
}
#skills{
    display: flex;
    align-items: center;
    margin-top: auto;
    height:800px;
}
#progress{
    height:1500px;
    margin-left:520px;
}
#progress a{
    background: rgb(90, 70, 5);
    color: rgb(213, 113, 145);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-family: cursive;
    text-decoration: none;
    margin-left: 820px;
}

.events hr{
    border: 0;
    height: 1px;
    background-color:rgb(87, 25, 87);
    margin: 5px 0;}
.infol{
        color: rgb(207, 186, 204);
    text-align: center;
    height:320px ;
    width: 30%;
    margin-left: 150px;
    font-size: 20px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(112, 38, 79, 0.6);
     display: flex;
     flex-direction: column;
    gap: 20px; 
    margin-bottom: 20px;
}
.list{
    margin-top: 30px;
}
.infol ul{
    list-style: none;
    padding: 0;
    width: 60%;
    margin: auto;
}

.infol li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;
}
.infol a{
    background: #e0a36d;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 10px;
    width: 50px;
    height: 18px;
    color: rgb(210, 81, 81);
}
.infol a i{
    font-size: 15px;
    color: rgb(210, 81, 81);
    
}
    
.infor{
    color: rgb(207, 186, 204);
    text-align: justify;
    width: 30%;
    height: 320px;
    margin-top: -400px;
    margin-left: 800px;
    font-size: 20px;
    
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(112, 39, 79, 0.6);
}

.h3{
   text-align:center;
   font-size:50px;color:#9f777a;
    font-style: oblique;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.events{
    background-color: rgb(47, 5, 60);
    text-align:center;
    border-radius: 20px;
    align-items: center;
    height: 300px;
    width:800px;
    margin-left :550px;
    margin-top: 40px;
    box-shadow: 0 0 20px rgba(93, 53, 69, 0.6);
}
.events img{
    height:200px;
    width:250px;border-radius: 20px;float:left;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 219, 18, 0.6);

}
.desc{
    margin-top: 60px;
    padding: 10px;
    margin-left: 320px;
    color:rgb(217, 206, 216);
    text-align: justify;
    font-size: 20px;
}
.footer{
    background: #2b0033;   /* dark purple */
    color: #f5e6ff;
    text-align: center;
    padding: 30px 10px;
    margin-top: 40px;
}
.footer h3{
    margin-bottom: 10px;
    color: gold;
}
.footer p{
    margin: 5px 0;
    font-size: 14px;
}
.copy{
    font-size: 12px;
    margin-top: 15px;
    opacity: 0.7;
}
